<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="https://www.thymeleaf.org"
    layout:decorate="~{base}" lang="en">

<head>
    <title>Document</title>
</head>

<body>
    <div layout:fragment="content">

        <h1 class="display-5 fw-normal">Navbar with offcanvas examples</h1>
        <p class="fs-5">This example shows how responsive offcanvas menus work within the navbar. For positioning of
            navbars, checkout the <a href="../examples/navbar-static/">top</a> and <a
                href="../examples/navbar-fixed/">fixed top</a> examples.</p>
        <p>From the top down, you'll see a dark navbar, light navbar and a responsive navbar—each with offcanvases built
            in. Resize your browser window to the large breakpoint to see the toggle for the offcanvas.</p>
        <p>
            <a class="btn btn-primary flame" href="../components/navbar/#offcanvas" role="button">Learn more about offcanvas
                navbars &raquo;</a>
        </p>

    </div>



</body>

</html>