<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="https://www.thymeleaf.org" layout:decorate="~{base}" lang="en">
<head>
    <title>Sign Up</title>
</head>
<body>

<div layout:fragment="content">
    <br>
    <br>
    <h2 class="text-white">
        Log In
    </h2>
    <form class="text-gray-400 mt-3" onsubmit="login(event)">

        <div data-mdb-input-init class="form-outline mb-4">
            <input type="email" style="color: lightgray !important;" id="email"
                class="form-control" name="email" maxlength=50 required
                data-mdb-showcounter="true" />
            <label class="form-label" for="email" style="color: lightgray !important;">Email
                address</label>
            <div class="form-helper"></div>
        </div>
        <br>
        <div data-mdb-input-init class="form-outline mb-4">
            <input type="password" style="color: lightgray !important;" id="password"
                class="form-control" name="password" maxlength=50 minlength="8" required
                data-mdb-showcounter="true" />
            <label class="form-label" for="password" style="color: lightgray !important;">Password
                address</label>
            <div class="form-helper"></div>
        </div>
        <div class="col-auto">
            <!-- Submit button -->
            <button data-mdb-ripple-init type="submit" class="btn btn-outline btn-primary mb-4">
                Log In
            </button>
        </div>
        <br>
        <a href="#">Forgot Password?</a>
    </form>
    <script src="/static/js/login.js"></script>
</div>

</body>
</html>
