<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="https://www.thymeleaf.org" layout:decorate="~{base}" lang="en">
<title layout:fragment="title">Index</title>

<div layout:fragment="content">

    <form method="POST" enctype="text/plain" onsubmit="signup(event)">
        <div>
            <label>Name
            <input type="text" id="name"/>
            </label>
        </div>
        <div>
            <label>Email
            <input type="email" id="email"/>
            </label>
        </div>
        <div>
            <label>Password
                <input type="password" id="password"/>
            </label>
        </div>
        <div>
            <label>Phone
            <input type="tel" id="phone"/>
            </label>
        </div>
        <button type="submit">Submit</button>
    </form>
<script src="/static/js/signup.js"></script>
</div>

</html>
